# API Gateway Env Vars
PORT=8080
HOTEL_SERVICE_URL=
COMMENTS_SERVICE_URL=
NOTIFICATION_SERVICE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Hotel Service Env Vars
PORT=8080
DATABASE_URL=
REDIS_URL=
RABBITMQ_URL=

# Notification Service Env Vars
PORT=8080
DATABASE_URL=
RABBITMQ_URL=

# Comments Service Env Vars
PORT=8080
MONGO_URI=
